@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4 top-menu-row">
            <div class="top-menu">
                <a href="/" class="@GetActive("*")">Home</a>
                <a href="/digitalresume" class="@GetActive("digitalresume")">Digital Resume</a>
                <a href="/projects" class="@GetActive("projects")">Current Project(s)</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <div class="row fixed-row-bottom">
            <img class="bojack-footer" src="img/bojack-samuri_bookends_780x100.png" />
        </div>
    </main>
</div>
@code {

    [Inject]
    NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized() => NavigationManager.LocationChanged += (s, e) => StateHasChanged();

    bool IsActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix)
    {
        if (href == "*" && NavigationManager.ToBaseRelativePath(NavigationManager.Uri).Length == 0)
            return true;
        var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
        return navLinkMatch == NavLinkMatch.All ? relativePath == href.ToLower() : relativePath.StartsWith(href.ToLower());
    }

    string GetActive(string href, NavLinkMatch navLinkMatch = NavLinkMatch.Prefix) => IsActive(href, navLinkMatch) ? "active" : "";
}
