<header>
    <mat-toolbar class="jem-toolbar">
        <button mat-icon-button class="menu-icon" (click)="toggleMenu()" [attr.aria-label]="menuOpen() ? 'Close menu' : 'Open menu'">
            <i [class]="menuIcon()"></i>
        </button>

        <nav class="jem_menu" [class.mobile_menu]="menuOpen()">
            <a mat-button [routerLink]="['/home']" [routerLinkActive]="['active-link']" class="nav-item" (click)="closeMenu()">
                Home
            </a>
            <a mat-button [routerLink]="['/digitalresume']" [routerLinkActive]="['active-link']" class="nav-item" (click)="closeMenu()">
                Digital Resume
            </a>
            <a mat-button [routerLink]="['/projects']" [routerLinkActive]="['active-link']" class="nav-item" (click)="closeMenu()">
                Current Projects
            </a>
            <a mat-button [routerLink]="['/testimonials']" [routerLinkActive]="['active-link']" class="nav-item" (click)="closeMenu()">
                Testimonials
            </a>
            <a mat-button [routerLink]="['/resume-posters']" [routerLinkActive]="['active-link']" class="nav-item" (click)="closeMenu()">
                Contact a Poster
            </a>

            @if (authService.isAdmin()) {
                <button mat-button class="nav-item admin-menu-trigger" [matMenuTriggerFor]="adminMenu">
                    Admin
                </button>
                <mat-menu #adminMenu="matMenu">
                    <a mat-menu-item [routerLink]="['/admin/resumes']" (click)="closeMenu()">Manage Resumes</a>
                    <a mat-menu-item [routerLink]="['/admin/github-activity']" (click)="closeMenu()">GitHub Activity Settings</a>
                    @if (authService.isSuperAdmin()) {
                        <a mat-menu-item [routerLink]="['/projects']" (click)="closeMenu()">Manage Project Listings</a>
                    }
                </mat-menu>
            }

            @if (authService.isAuthenticated()) {
                <span class="nav-item auth-status">
                    Hi, {{ authService.username() }}
                </span>
                <button mat-button class="nav-item" (click)="logout()">
                    Log Out
                </button>
            } @else {
                <a mat-button [routerLink]="['/login']" [routerLinkActive]="['active-link']" class="nav-item" (click)="closeMenu()">
                    Log In
                </a>
                <a mat-button [routerLink]="['/register']" [routerLinkActive]="['active-link']" class="nav-item" (click)="closeMenu()">
                    Register
                </a>
            }
        </nav>
    </mat-toolbar>

    @if (!isResumePage()) {
        <div class="container">
            <div class="row logo">
                <div class="col-4">
                    <img src="assets/img/bojack-samuri_82x100_fl.png" alt="" class="float-right">
                </div>
                <div class="col-4 text-capitalize text-center jem-title-header">
                    <div class="h1">406JEM</div>
                </div>
                <div class="col-4">
                    <img src="assets/img/bojack-samuri_82x100_fr.png" alt="" class="float-left">
                </div>
            </div>
        </div>
    }
</header>
