<div class="container">
    <div class="row pretty-text text-center page-note home-page-text-block">
        <p>
            Hello..<br/>I'm Justin & this is just a space for my resume and whatever interesting projects I might be working on ATM.  <br /><br />
            I work as a remote full stack webapp dev with an emphasis on backend development. I work mainly with C# (all things .NET) and have accumulated quite a bit of Azure Cloud experience.  <br /><br />
            As far as side projects go I have a few. You can see listings of some of them, as well as other digital resources on the <a routerLink="/projects">Projects</a> page.  <br /><br />
        </p>
    </div>
    <div class="row"><br/><br/></div>
    <div class="row justify-content-center g-4">
        <div class="col-sm-4 col-12">
            <mat-card appearance="outlined" class="jem-mat-card">
                <mat-card-header>
                    <mat-card-title><a routerLink="/digitalresume">Resume</a></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    My most recent resume in digital format.  There is also a downloadable PDF linked on this page as well.
                </mat-card-content>
                <div class="jem-mat-card-footer">Last Updated 04/2025</div>
            </mat-card>
        </div>
        <div class="col-sm-4 col-12">
            <mat-card appearance="outlined" class="jem-mat-card">
                <mat-card-header>
                    <mat-card-title><a routerLink="/projects">Projects</a></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    There are some various resources related to my professional activities avaliable here.
                </mat-card-content>
                <div class="jem-mat-card-footer">Last Updated 04/2025</div>
            </mat-card>
        </div>
    </div>
</div>
