@page "/"

<PageTitle>406JEM</PageTitle>

<div class="container">
	<div class="row">
		<div class="col-4">
			<img class="float-right" src="img/bojack-samuri_82x100_fl.png" />
		</div>
		<div class="col-4 text-capitalize text-center"><h1>406JEM</h1></div>
		<div class="col-4 align-content-start">
			<img class="float-left" src="img/bojack-samuri_82x100_fr.png" />
		</div>
	</div>
	<div class="row pretty-text">
		<p class="pretty-text text-center">
			I'm Justin & this is just a space for my resume and whatever interesting projects I might be working on ATM.
		</p>
	</div>
	<div class="row fixed-row-bottom">
		<img class="" src="img/bojack-samuri_bookends_780x100.png" />
	</div>
</div>