.sectionheader {
    border-bottom: 2px solid #000000;
    font-family: Arial;
    font-size: 22px;
    font-weight: 700;
}

.sectionbody {
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: Arial;
    font-size: 16px;
}

.eduList {
    display: list-item;
    list-style-type: none;
    padding-inline-start: 3ch;
    line-height: normal;
    margin-bottom: 8px;
}

    .eduList li {
        padding-left: 1em;
    }

    .eduList .schoolName {
        font-size: 18px;
        font-weight: 700;
    }

    .eduList .degree {
        font-weight: 700;
    }

    .eduList .areaOfStudy {
        font-style: italic;
    }

    .eduList .degree, .eduList .areaOfStudy {
        font-size: 14px;
        margin-left: 15px;
        display: inline-block;
        height: 16px;
    }

        .eduList .degree img {
            height: 100%;
            filter: drop-shadow(0px 0px 4px green);
        }