<div *ngIf="eduItems">
    <div class="sectionheader">Education</div>

    <div class="sectionbody">
        <ul class="eduList">
            <li *ngFor="let item of eduItems" class="eduListing">
                <div class="schoolName">{{item.name}}</div>
                <div *ngIf="item.degree" class="degree"><img src="assets/img/academic-degree-3-16.png" /> {{item.degreeName}} - {{item.degreeYear}}</div>
                <div *ngFor="let aos of item.areasOfStudy" class="areaOfStudy">{{aos}}</div>
            </li>
        </ul>
    </div>
</div>