@page "/"

<PageTitle>406JEM</PageTitle>

<div class="container">
	<div class="row">
		<div class="col-4">
			<img class="float-right" src="img/bojack-samuri_82x100_fl.png" />
		</div>
		<div class="col-4 text-capitalize text-center jem-title-header"><h1>406JEM</h1></div>
		<div class="col-4">
			<img class="float-left" src="img/bojack-samuri_82x100_fr.png" />
		</div>
	</div>
	<div class="row home-page-text-block">
		<p class="pretty-text text-center">
			I'm Justin & this is just a space for my resume and whatever interesting projects I might be working on ATM.  <br /><br />
			I am a full stack dev with an emphasis on backend development working mainly in C# with quite a bit of Azure Cloud experience.  <br /><br />
			As far as side projects go .. I have lotsa them, but my current facination is around iot devices and messing around with arduino, adafruit, rak and heltec microprocessor boards.  I am really digging the meshtastic software ATM.
		</p>
		<div class="row"><br/><br/></div>
		<div class="row">
			<div class="col col-1"></div>
			<div class="col card jem-card col-sm-4 col-12 text-center">
				<div class="card-header"><a href="/digitalresume">Resume</a></div>
				<div class="card-body">
					My most recent resume in digital format.  There is also a downloadable PDF linked on this page as well.
				</div>
				<div class="card-footer">Last Updated 07/2024</div>
			</div>
			<div class="col col-2"></div>
			<div class="col card jem-card col-sm-4 col-12 text-center">
				<div class="card-header"><a href="/projects">Projects</a></div>
				<div class="card-body">
					Currently this page is just a little slideshow showing some of my personal interests as well as some shots of different iot devices I am working with, but this page is still being built out.
				</div>
				<div class="card-footer">Last Updated 07/2024</div>
			</div>
			<div class="col col-1"></div>
		</div>
	</div>
</div>