@page "/projects"
@using BlazorApp.Models 
@inject HttpClient Http

<PageTitle>Projects</PageTitle>

<div class="container">
    <div class="row pretty-text text-center page-note">
        <p>This page has various resources related to my professional activities as well as side projects for reference and review.  Resources include my public GitHub and discussions of side projects w/ relevant urls.</p>
    </div>
    <div class="row"><br /></div>
    <div class="row">
        <div class="col col-1"></div>
        <div class="col card jem-card col-sm-4 col-12 text-center">
            <div class="card-header">WWW</div>
            <div class="card-body">
                <ul class="list-group project-menu-list-group">
                    <a class="list-group-item list-group-item-action" href="https://www.linkedin.com/in/justin-mann-b3822075/" title="LinkedIn" target="_new">LinkedIn</a>
                    <a class="list-group-item list-group-item-action" href="https://github.com/Justin-Mann" title="My GitHub" target="_new">GitHub</a>
                    <a class="list-group-item list-group-item-action" href="https://406creatorcollections.com" title="My Shopify Store" target="_new">406CreatorCollections.com</a>
                </ul>
            </div>
            <div class="card-footer">Last Updated 04/2025</div>
        </div>
        <div class="col col-2"></div>
        <div class="col card jem-card col-sm-4 col-12 text-center">
            <div class="card-header">Open Source & Tutorials</div>
            <div class="card-body">
                <ul class="list-group project-menu-list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="https://meshtastic.org/" title="Open Source Project: Meshtastic" target="_new">Meshtastic Project</a>
                        <ul>
                            <li class="list-group-item-description">I made simple modifications to the <a href="https://github.com/meshtastic/firmware" title="Open Source Project: Meshtastic Frimware Repository" target="_new">firmware repository</a> in order to add support for the RAK12035 Soil Monitor.  As of today this is still a WIP, but I have functional prototypes.  Basically I have my water monitors working just fine, but need to loop back and update the code a little more and complete the submission.</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <a href="https://www.instructables.com/Water-Flow-Controller-W-HTTP-Controls-Using-Adafru/" title="Instructables: Flowerbed Irrigation Controller" target="_new">Flowerbed Soil Monitor &amp; Water Controller</a>
                        <ul>
                            <li class="list-group-item-description">Just a .ino file I wrote and component recipe for an Arduino Feather I'm using to check the soil moisture content and turn the water on and off for my front flowerbed.'</li>
                        </ul>
                    </li>
                    <!-- TODOs
                    <li class="list-group-item">
                        <a href="/" title="Instructables: Meshtastic Based Long Range Water Monitor" target="_new">Meshtastic Based Long Range (Lorawan Radio Based) Water Monitor</a>
                        <ul>
                            <li class="list-group-item-description">Just the Instructable describing my build for the Meshtastic implementation referenced above.</li>
                        </ul>
                    </li>
                    -->
                </ul>
            </div>
            <div class="card-footer">Last Updated 04/2025</div>
        </div>
        <div class="col col-1"></div>
    </div>
    <div class="row"><br /></div>
    <div class="row">
        <div class="col card jem-card col-sm-4 col-12 offset-sm-4 text-center">
            <div class="card-header">This Website, Different Client Frameworks</div>
            <div class="card-body">
                <ul class="list-group project-menu-list-group">
                    <li class="list-group-item">
                        <a href="https://angular.406jem.com" title="This Website In Angular" target="_new">Angular Client</a>
                    </li>
                    <!-- <li class="list-group-item">
                        <a href="/" title="This Website In React" target="_new">React Client</a>
                    </li> -->
                </ul>
            </div>
            <div class="card-footer">Last Updated 04/2025</div>
        </div>
    </div>
</div>
@code {}