@page "/projects"
@using BlazorApp.Shared 
@inject HttpClient Http

<PageTitle>Projects</PageTitle>

<div class="container">
    <div class="row pretty-text text-center page-note">
        <p>This page has various resources related to my professional activities as well as side projects for reference and review.  Resources include my public GitHub and discussions of side projects w/ relevant urls.</p>
    </div>
    <div class="row"><br /><br /></div>
    <div class="row">
        <div class="col col-1"></div>
        <div class="col card jem-card col-sm-4 col-12 text-center">
            <div class="card-header">WWW</div>
            <div class="card-body">
                <ul class="list-group project-menu-list-group">
                    <li class="list-group-item"><a class="btn-link" href="https://www.linkedin.com/in/justin-mann-b3822075/" title="LinkedIn" target="_new">LinkedIn</a></li>
                    <li class="list-group-item"><a href="https://github.com/Justin-Mann" title="My GitHub" target="_new">GitHub</a></li>
                    <li class="list-group-item"><a href="https://406creatorcollections.com" title="My Shopify Store" target="_new">406CreatorCollections.com</a></li>
                </ul>
            </div>
            <div class="card-footer">Last Updated 04/2025</div>
        </div>
        <div class="col col-2"></div>
        <div class="col card jem-card col-sm-4 col-12 text-center">
            <div class="card-header">Open Source & Tutorials</div>
            <div class="card-body">
                <ul class="list-group project-menu-list-group">
                    <li class="list-group-item">
                        <a href="https://meshtastic.org/" title="Open Source Project: Meshtastic" target="_new">Meshtastic Project</a>
                        <ul>
                            <li>I made simple modifications to the <a href="https://github.com/meshtastic/firmware" title="Open Source Project: Meshtastic Frimware Repository" target="_new">firmware repository</a> in order to add support for the RAK12035 Soil Monitor.  As of today this is still a WIP, but I have functional prototypes.  Basically I have my water monitors working just fine, but need to loop back and update the code a little more and complete the submission.</li>
                        </ul>
                    </li>
                    <!--
                    <li class="list-group-item"><a href="/" title="Instructables: Flowerbed Irrigation Controller" target="_new">Flowerbed Soil Monitor &amp; Water Controller</a></li>
                    <li class="list-group-item"><a href="/" title="Instructables: Meshtastic Based Long Range Water Monitor" target="_new">Meshtastic Based Long Range (Lorawan Radio Based) Water Monitor</a></li>
                    -->
                </ul>
            </div>
            <div class="card-footer">Last Updated 04/2025</div>
        </div>
        <div class="col col-1"></div>
    </div>
</div>





<!-- <div class="container">
    <div class="row pretty-text">
        <p class="page-note">I wanted to get this page up so I didn't spend a lotta time here.  More content is coming, but for now know that my current projects mostly involve meshtastic firmware and the intention to make a few modifications for device support on the rak hardware, specifically the wisblock io slot.  For now maybe a few randome pics of stuff I do and am interested in.</p>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a role="button" class="btn btn-secondary btn-lg btn-block" href="https://github.com/Justin-Mann/406jem.2024" target="_new">This Repo</a><br />
        </div>
    </div>
    <Carousel @bind-SelectedSlide="@selectedSlide">
        <CarouselSlide Name="1">
            <Image Source="img/gallery/20220418_182732.jpg" Text="Lights image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="2">
            <Image Source="img/gallery/20220520_141434.jpg" Text="Keyboard image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="3">
            <Image Source="img/gallery/20220523_172445.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="4">
            <Image Source="img/gallery/20220907_155338.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="5">
            <Image Source="img/gallery/20230504_140955.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="6">
            <Image Source="img/gallery/20230902_094749.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="7">
            <Image Source="img/gallery/20230902_101050.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="8">
            <Image Source="img/gallery/20230906_115340.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="9">
            <Image Source="img/gallery/20231115_153554.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="10">
            <Image Source="img/gallery/20231115_195144.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="11">
            <Image Source="img/gallery/20240223_213143.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="12">
            <Image Source="img/gallery/20240224_185210.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="13">
            <Image Source="img/gallery/20240331_155223.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="14">
            <Image Source="img/gallery/20240406_163748.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="15">
            <Image Source="img/gallery/20240509_105032.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="16">
            <Image Source="img/gallery/20240626_074749.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="17">
            <Image Source="img/gallery/20240626_074808.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="18">
            <Image Source="img/gallery/20240626_173842.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
        <CarouselSlide Name="19">
            <Image Source="img/gallery/20240628_130243.jpg" Text="Road image" Display="Display.Block" Width="Width.Is100" />
        </CarouselSlide>
    </Carousel>
</div>
@code {
    private string selectedSlide = "1";
} -->